.page-background {
    background-image: url('../assets/4508662-stars-backgrounds.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; /* Ensure it is behind all other content */
  }
  
  .main-form {
  
    max-width: 1000px;
    height: 70vh;
    margin: auto;
    margin-top: 150px;
    border-radius: 2rem;
   
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
  
  .title {
    font-size: 34px;
    font-weight: bold;
    color: #ffffff; /* White color */
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
  }

  .subtitle{
    font-size: 19px;
      color: #b0b0b0;
      font-family: 'Roboto', sans-serif;
      display: flex;
      justify-content: center;
  }
  
  .input-field {
    margin: 100px 200px 200px 200px;
    color: white;
  }
  
  .input-style {
    background-color: transparent;
    height: 40px;
  }
  button{
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  .shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .shadow__btn {
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
  }