.background{
  background-color: rgb(0, 8, 15);
}
.movie-list-container {
  display: flex;
  flex-wrap: nowrap; /* Prevents wrapping */
  overflow-x: auto; /* Adds horizontal scroll */
}

.movie-card {
  flex: 0 0 auto; /* Prevents shrinking and growing */
  margin: 10px; /* Adds some spacing between cards */
}

.movie-image {
  width: 200px; /* Set a fixed width */
  height: 300px; /* Set a fixed height */
  object-fit: cover; /* Ensure the image covers the container */
}
